<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.datasourcedemo1.mapper.mysql.TestMysqlMapper">
    <select id="selectMysql" resultType="java.util.Map">
        select id_, area_name_, area_code_ from yqfk_wcbb limit 10
    </select>
</mapper>